
.input_container {
    float:left;
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-left: 10px;
    margin-bottom: 20px;
}

.address {
    box-sizing: border-box;
    width: 630px;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
}

.search {
    text-align: center;
}

.popupDom {
    position: absolute;
    bottom:21%;
    left: 50%;
    transform: translateX(-50%);
}

.regist {
    width: 10px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.selectOrder {
    text-align: center;
    padding: 30px;
}

.orderbtn {
    text-align: center;
    border: none;
    
    
}
.orderbtn1 {
   display: inline-block;
   border: none;  
}

.postCode_btn {
    padding: 4px;
    margin: 4px;
}