

.container {
   margin:0, auto;
   display: flex;
   justify-content: center;
   width: 100%;
}

.main {
   min-height: 500px;
}

.container .left {
   width: 500px;
   height: 330px;
   margin: 15px 0;
}
.container .left .list {
   height: 330px;
   overflow-y: scroll;
}

.branchList {
   padding-left: 57px;
}
.branchInfo {
   padding-left: 15 px;
}

.list_container{
   box-sizing: border-box;
}

.list_container .list_input {
   margin-top: 15px;
   float: left;
}
.list_container .list_a {
   margin: 0;
   width: 95%;
   margin-left:0px;
   margin-bottom: 10px;
   float: left;
}

.list_container .list_a:hover{
   background: rgba(0, 0, 0, 0.3);
   transition: all 0.5s;
}

.list {
   height: 50px;
}
.branInfo div span {
   padding: 0 5px;
}

.branInfo ul li span {
   padding: 0 5px;
}