*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
/* 메뉴고르는 전체 틀 */
.mainselect{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.detail_main_wrap{
    padding:5rem;
    border-bottom:0.5rem solid #f3f8f9;

}



/* 왼쪽 */
/* 이미지 조절하기.*/
.leftImgBlock{
    display: flex;
    align-items: center;
    border-radius: 1.6rem;
    border: 1px solid #ebebeb;
    overflow: hidden;
}

.leftImg{
   float:left;
}

.rightImg{
  float: right;
}



/* 상기 이미지는 실제 제품과 다를 수 있습니다 */
.detailNotice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    padding-bottom: 0;
}

.detailNotice>span{
    font-size: 15px;
    color: #c8c8c8;
}

/* 오른쪽 */

.rightSelect{
    padding: 45px;
    padding-top: 10px;
    margin-top: 50px;
    border-radius: 1.6rem;
    border: 1px solid #ebebeb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.rightwrap{
    padding-top: 10px;
    overflow: hidden;
}

.leftMenuShow{
    float: left;
}

.rightMenuShow{
    float: right;
    border:2px solid red;
    border-radius: 20px;
    padding: 7px;
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.rightwrap2{
    margin-top: 1px;
}

/* 도우고르기 */
.selectDough{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.detail_halfnhalf_dough_wrap{
    display: flex;
    align-items: center;
}

.custom_radio{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.custom_radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.icon{
    height: 6rem;
}


.off{
    display: block;
}

.on{
    display: none;
}

.img_wrap.choosed > .off {
    display: none;
}


.img_wrap.choosed > .on{
    display: block;
}


/* 사이즈고르기 */
:root{/* 라디오박스 버튼색변경 */
    accent-color: red;
}

.detail_halfnhalf_size_wrap{
    margin:10px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.custom_radio2{
    overflow: hidden;
}

.custom_radio2 >input{
    margin-top: 5px;
    float: left;
}

.size_info{
    float: left;
    margin-left: 8px;
}

.custom_radio2 .size_info small{
    font-weight: 500;
    color: rgb(182, 177, 177);
}


/* 피자고르기 */
.selectPizza{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom:10px;
}

.selector{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    font-weight: bold;
}


/* 하프앤하프 주문 공지 */
.order_notice >span{
    display: block;
    font-size: 14px;
    font-weight: bolder;
}

/* 수량 */
.detail_halfnhalf_num_count_wrap{
    padding: 1rem 0 0;
    text-align: right;
}


.num_count_box{
    display: inline-flex;
}

.num_count_wrap_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid #ebebeb;
}

.btnL{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid #ebebeb;
    font-size: 60px;
    line-height: 85px;
    
}

.btnR{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #ebebeb;
    line-height: 50px;
    font-size: 50px;
}

.num_count_value{
    width: 9rem;
    height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: black;
    border: 1px solid #ebebeb;
}

/* 가격 */
.fixed_payment_wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #da291c;
    height: 8rem;
}

.fixed_payment_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97rem;
    height: 8rem;
    margin: 0 auto;
}

.txt_wrap{
    text-align: right;
}

.fixed_payment_wrap .label{
    display: inline-block;
    font-size: 1.3rem;
    color: #ffffff;
}

.fixed_payment_wrap .price{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
}

/* 주문하기 버튼 */
.fixed_payment_box button{
    margin: 0;
    padding: 0 1rem 0 0;
    background: transparent;
    border: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 510;
    cursor: pointer;
}

.buttonIcon{
    height: 4rem;
    padding-right: 6px;
    margin-bottom: 6px;
    vertical-align: middle;
}